gap{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}


body{
  /* background: linear-gradient(#e66465, #9198e5); */
  background:rgb(116, 51, 138);
}
.wrapper{
  max-width: 674px;
  width: 100%;
  margin: 0 auto;
margin-top: 150px;
background: #FFFF;
border-radius: 15px;
}
.heading {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

input[type="text"] {
  width: 400px;
  padding: 4px 9px;
  margin: 5px 0px;

}

input[type="number"] {
  width: 400px;
  padding: 4px 9px;
  margin: 5px 0px;

}

input[type="email"] {
  width: 400px;
  padding: 4px 9px;
  margin: 5px 0px;
}

.tab{
  padding: 15px;

}

input[type="number\ "] {
  margin: 5px 0px;
  padding: 4px 9px;

}

.btn{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  gap: 467px;
}

button{
  padding: 6px 12px;
}

#prevBtn {
  background-color: #bbbbbb;
}
button {
  background-color: #276cd3;
  color: #ffffff;
  border: none;
  /* padding: 10px 20px; */
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}


.gender{
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 10px 0px;
}
.gender-section{
  display: flex;
  align-items: center;
  gap: 40px;
}

.option-gender{
  display: flex;
  gap: 10px;
  align-items: center;
}

textarea{
  padding: 5px 2px;
}

.step-section{
  display: flex;
  font-size: 15px;
  padding: 4px 0px;
  border: 3px solid #4f16b3;
  border-radius: 15px;
  background: aqua;
  justify-content: space-around;
}




.step-1, .step-2, .step-3{
  font-size: 18px;
  padding: 0px 56px;
}


.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.tab{
  display: none;
}

/* #tab1{
  display: block;
}
#tab2{
  display: none;
}
#tab3{
  display: none;
} */
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #04AA6D;
}
input.invalid {
  background-color: #ffdddd;
}

#active-steps{
  color:red;
}

.error {
  color: red;
  font-size: 14px;
  display: flex;
  line-height: 1;
  align-items: center;
}
.tacbox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  gap: 9px;
}
  a{
      text-decoration: none;
  }

  table{
      background-color: #ffffff;
      margin: 49px auto;
      border: 1px solid;
      border-radius: 7px;
  }

  tr{display: flex;border: 2px solid;}

  td{
      text-align: center;
      border: 1px solid;
      padding: 7px 52px;
      width: 100px;
      overflow-x: auto;
  }

  #submitBtn{
    display: none;
  }

  thead {
    background: #e8e8cf;
}

.block{
  display: block;
}