@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
    border-top: 5px solid #fff;
    background: #efefef;
    color: #2a2a2a;
}

.container {
    max-width: 350px;
    width: 100%;
    border-radius: 29px;
    margin: 150px auto;
    background-color: rgb(194, 114, 212);
}

.slide-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
}
.active-dot{
    background-color: aquamarine;
}
.arrow img{
    max-width: 40px;
    width: 100%;
    cursor: pointer;
    background-color: aquamarine;
}
.next img{
    transform: rotate(180deg);
}

.arrows-container {
    display: flex;
    gap: 270px;
    transform: translateY(-154px);
    position: relative;
    justify-content: center;
    border-radius: 10px;
}
.slides img{
    width: 350px;
    height: 350px;
}
.slider {
    max-width: 350px;
    width: 100%;
    height: 434px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
    border-radius: 29px;
}


.slides{
    display: none;
    position: relative;
    background-color: rgb(194, 114, 212);
}

.active{
    display: block;
}
.heading{
    width: 100%;
    /* position: absolute; */
    /* background-color:hsla(120, 4%, 37%, 0.3); */
    max-width: 350px;
}
.controller {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* margin-top: 25px; */
    padding: 24px 10px;
}

.btn{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background-color: #9ccf97;
    border-radius: 10px;
    font-size: 18px;
}